.studentContent {
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 1rem;
    box-shadow: 3;
    box-shadow: -2px -1px 19px #525252;
    padding: 2rem 3rem;
    margin: 2rem 5rem;
}
.studentContent .left{
   border-right: 1px solid black;

}

.leftHead{
    display:flex;
    justify-content:space-between;
    align-items:center;
    cursor: pointer;
}
.leftHead h4{
    font-weight: 500;
    
}

.viewS, .addS{
    display:flex;
    justify-content: center;
    gap:1rem;
    cursor: pointer;
    
    
    
    
}

.addS{
    padding-bottom: 1rem;
    border-bottom: 1px solid black;
    margin-right: .4rem;
}
.viewS h4, .addS h4{
  
    font-weight:400;
    font-size: 16px;
    
}
.viewS:hover{
    color:#b52b2b;

}
.addS:hover{
    color:#b52b2b;

}

.studentContent .right h4{
    color:#b52b2b;
    font-weight:500;
}

.studentContent .right {
   width: 100%;
}
.sInput{
display:flex;
width:100%;
justify-content:space-around


}
.studentContent .right .sfield{

    display: flex;
        justify-content: space-between;
        align-items: center;
        height: 2rem;
        width: 8rem;
        margin-right: 2rem;
        padding: 0.4rem 1rem;
        outline: 0;
        background-color: rgb(213, 213, 213);
        border: 1px solid rgb(187, 187, 187);
        border-radius:4px;
}
.studentContent .right .sfield p{

    font-size:14px;
    color:rgb(52, 52, 52);
    margin:0;
    
}
.studentContent .right .sfield .arrow{

    border-left: 1px solid;
    
}


.studentContent .right .btn-search{
    width:130px;
   
    text-align:center;
    
    height: 2rem ;
    background-color:#af2c2c;
    color:white;
    border: none;
}


.modify {
    display: flex;
    justify-content:space-between;
}

tbody tr:nth-child(even){
    background-color:rgb(255, 198, 194);
}
tbody tr:nth-child(odd){
    background-color:white;
}

.table>:not(caption)>*>* {
    padding: 0.5rem 0.5rem;
    box-shadow: none !important;
    border-bottom-width: 0 !important;
    
}
table{
    border: 2px solid black;
    
}


.pagination  p{
    background-color:#d5d5d5;
    width:20px;
    height:20px;
    text-align:center;
    color:black;
    font-size:14px;

}
.pagination .pageItem1 p{
    background-color:#901e1e;
    width:20px;
    height:20px;
    text-align:center;
    color:white;

}
.pagination {
    display: flex;
    justify-content: flex-end;
    gap:10px;
    

}

.download span{
    
    
    
    background-color:#901e1e;
    padding:5px 10px;
    color:white;
    font-weight:500;
    font-size: 14px;
    
}

.container .navlogo{
    display:flex;
    justify-content: space-between;
}
.container .navlogo img{
    width:30px;
    border-radius:50%;
}
.container .info{
   display:flex;
   gap:1rem;
   align-items:center;
   justify-content:center;
   color:white;
}
.container .info p{
   margin-bottom:0px;
}